mat-chip{
    background-color: rgb(148, 200, 248) !important;
}

.table-container{
    width: 100%;
    margin: auto;
    /* max-width: 750px; */
    /* padding: 5px 75px; */
}

.mat-elevation-z8{
    margin: 10px 15px 0px 15px;
    @media only screen and (max-width: 1280px) {
        margin: 50px 15px 0px 15px;
    }
}