@if(loading){
<app-loader></app-loader>
}@else {
<div class="container">
    <mat-card class="user-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{resultName}}</mat-card-title>
                <mat-card-subtitle>Repositories: {{repositories}}</mat-card-subtitle>
                <mat-card-subtitle class="followers-icons"><mat-icon>group</mat-icon>{{followers}}
                    followers · {{following}} following </mat-card-subtitle>
                @if(location){
                <mat-card-subtitle class="followers-icons"><mat-icon>room</mat-icon>{{location}}</mat-card-subtitle>
                }
                <img mat-card-xl-image src={{avatar}} alt="Image of user">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>{{bio}}</p>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            @if(repositories){
            <button mat-button color="primary" (click)="getRepositories()">View Repositories</button>
            }@else {
            <button mat-raised-button [disabled]="true">No Repositories</button>
            }
        </mat-card-actions>
    </mat-card>
</div>
}
<!-- <mat-card class="example-card">
    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Image of a Shiba Inu">
        <mat-card-title class="repo-card-title">Juvin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        asdfgsdafguyasgfuysd
    </mat-card-content>
</mat-card>

<mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
</mat-paginator> -->


<!-- <div class="container">
    <mat-card class="profile-card">
        <mat-card-header>
            <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Image of a Shiba Inu">
            <mat-card-content>asfsdafsdafsdf</mat-card-content>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Medium</mat-card-subtitle>
            </mat-card-title-group>
            asdfsdaf
        </mat-card-content>
    </mat-card>
</div> -->