<mat-card class="profile-card">
    <mat-card-header>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Image of a Shiba Inu">
        <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Medium</mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        asdfsdaf
    </mat-card-content>
</mat-card>

<h3 class="text">Repositories</h3>
<mat-card class="example-card">
    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Image of a Shiba Inu">
        <mat-card-title class="repo-card-title">Juvin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        asdfgsdafguyasgfuysd
    </mat-card-content>
</mat-card>

<mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
</mat-paginator>